*{
    font-family: "Poppins", sans-serif;
}
/* Anuz Section  */

.prix{
    background-color: #cacdfa;
    color: rgb(0, 0, 0);
}
.prix:hover{
    background-color: rgb(243, 211, 255);
    color: black;
}
.applybtn:hover{
    color: #5d5d5d;
}
.expertsimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -10px;
}


.dadaimg{
    background-image: url(Images/dummy-bg.png);
    background-size:cover;
    background-position: center;
    /* height: 55rem; */
}
.maintext{
    width: 35%;
    margin-left: 3rem

}
.maintext h1{
    font-size: 3.2rem;
    font-weight: 400;

}
.maintext p{
    font-size: 1.25rem;
    margin-top: 20px;
    color: #b0b0b0;
    text-align: justify;
}
.card{
    border: 3px solid black;
}

/* Prabin section Why lict section ko lagi */

.custome-container
{
background-image: url(Images/orange-bg.png);
background-size: cover;
  padding: 50px 0;
  text-align: center;
  height: 65vh;
}
.custome-card
{
  background-color: rgb(244, 251, 255);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* min-height: 250px; */
  border: 2px solid black;
  align-items: start;
  width:23rem;
  height: 21rem;

}
.custome-card bi
{
  font-size: 2 rem;
  margin-bottom: 15px;
  color:  #007bff;
}

.wcuimg{
    width: 30%;
    aspect-ratio: 4/3;
    object-fit: contain;
}


/* prabin section ends here */







/* Sasin Section  */
/* 
col-md-6 custom-box{
    margin-top: 20px;
}
col-md-6 custom-box{
    margin-top: 20px;

} */

.mysec07{
    width: 100%;
    height: 80vh;
    /* background-color: purple; */
    background-image: url(Images/black-bg.png);
    background-size: contain;
  
}
.mysec07 img{
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}
.footer{
    text-align: justify;
}

